In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller, acf, pacf
data = pd.read_csv(r"G:\My Drive\NTR DATA\all_data.csv")

In [2]:
data.shape

(2107740, 7)

In [3]:
data.drop(columns = ['TAX HEAD NAME.1','TAX HEAD NAME.2'], inplace=True)
data.describe()

,DEPARTMENT,TAX HEAD NAME,SERVICE,Amount Paid,Bank Payment Date
count,2107740,2107740,2107740,2107740,2107740
unique,9,88,14,16777,2031
top,BUSINESS REGISTRATION DEPARTMENT-,REGISTRATION FEES-BUSINESS NAME-,COMPANY REGISTRATION-,"20,000",12/12/2023
freq,1947595,376408,999044,457820,2891

In [10]:
data['DEPARTMENT'].head()

0    BUSINESS REGISTRATION DEPARTMENT-
1    BUSINESS REGISTRATION DEPARTMENT-
2    BUSINESS REGISTRATION DEPARTMENT-
3    BUSINESS REGISTRATION DEPARTMENT-
4    BUSINESS REGISTRATION DEPARTMENT-
Name: DEPARTMENT, dtype: object

In [18]:
data.set_index('Bank Payment Date', inplace=True)

In [21]:
data

,DEPARTMENT,TAX HEAD NAME,SERVICE,Amount Paid
Bank Payment Date,,,,
12/03/2019,BUSINESS REGISTRATION DEPARTMENT-,STAMP DUTY-INCORPORATION OF COMPANY WITH NO NO...,COMPANY REGISTRATION-,"25,000"
12/03/2019,BUSINESS REGISTRATION DEPARTMENT-,REGISTRATION FEES-BUSINESS NAME-,BUSINESS NAMES-,"24,000"
12/03/2019,BUSINESS REGISTRATION DEPARTMENT-,REGISTRATION FEES-BUSINESS NAME-,BUSINESS NAMES-,"24,000"
12/03/2019,BUSINESS REGISTRATION DEPARTMENT-,CANCELLATION OF ENTRY-BUSINESS NAME-,BUSINESS NAMES-,"5,000"
12/03/2019,BUSINESS REGISTRATION DEPARTMENT-,REGISTRATION FEES-BUSINESS NAME-,BUSINESS NAMES-,"24,000"
...,...,...,...,...
29/02/2024,BUSINESS REGISTRATION DEPARTMENT-,REGISTRATION OF INITIAL NOTICE OR LIEN-,REGISTRATION OF CHATTELS-,"18,000"
29/02/2024,BUSINESS REGISTRATION DEPARTMENT-,REGISTRATION OF INITIAL NOTICE OR LIEN-,REGISTRATION OF CHATTELS-,"18,000"
29/02/2024,BUSINESS REGISTRATION DEPARTMENT-,REGISTRATION OF INITIAL NOTICE OR LIEN-,REGISTRATION OF CHATTELS-,"18,000"
29/02/2024,BUSINESS REGISTRATION DEPARTMENT-,REGISTRATION OF INITIAL NOTICE OR LIEN-,REGISTRATION OF CHATTELS-,"18,000"
29/02/2024,BUSINESS REGISTRATION DEPARTMENT-,REGISTRATION OF INITIAL NOTICE OR LIEN-,REGISTRATION OF CHATTELS-,"18,000"

In [43]:
data.reset_index(inplace=True)

# Convert the index to datetime
data.index = pd.to_datetime(data['index'], dayfirst=True)

# Define a function to assign financial year labels
def get_financial_year(date):
    if date.month >= 7:
        return f"{date.year}-{date.year + 1}"
    else:
        return f"{date.year - 1}-{date.year}"

# Apply the function to create a new column 'FinancialYear'
data['FinancialYear'] = data.index.map(get_financial_year)

# Group by 'FinancialYear' and perform aggregation if needed
grouped = data.groupby('FinancialYear').sum()

print(grouped)

AttributeError: 'dict' object has no attribute 'reset_index'

In [32]:
data.shape

(2107740, 5)

In [34]:
data['DEPARTMENT'].unique()

array(['BUSINESS REGISTRATION DEPARTMENT-',
       'CIVIL REGISTRATION DEPARTMENT-',
       'INTELLECTUAL PROPERTY DEPARTMENT-',
       'COPY RIGHT AND NEIGHBOURING RIGHTS APPLICATION-', 'TENDER FEES-',
       'OFFICIAL RECEIVER/LIQUIDATION-', 'ADMINISTRATION-',
       'INSOLVENCY AND RECEIVERSHIP-', 'PPDA FEES-'], dtype=object)

In [39]:
import pandas as pd

# Sample DataFrame
data = {'Date': pd.date_range(start='2021-01-01', end='2023-12-31', freq='M'),
        'Value': range(36)}
df = pd.DataFrame(data)

# Define a function to assign financial year labels
def get_financial_year(date):
    if date.month >= 7:
        return f"{date.year}-{str(date.year + 1)[2:]}"
    else:
        return f"{date.year - 1}-{str(date.year)[2:]}"

# Apply the function to create a new column 'FinancialYear'
df['FinancialYear'] = df['Date'].apply(get_financial_year)

# Group by 'FinancialYear' and perform aggregation if needed
grouped = df.groupby('FinancialYear').sum()

print(grouped)

TypeError: datetime64 type does not support sum operations